// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #004b73;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



$green:   #CAF8C7;
$red:     #F0C4A4;
$blue:    #8ACBD3;
$ocean:   #5C97BF;
$denim:   #6C7A89;
$yellow:  #FFEDA5;

$black:         #000;
$dark-grey:     #788181;
$medium-grey:   #ABB7B7;
$grey:          #C1C1C1;
$neutral-grey:  #ECECEC;
$light-grey:    #ECF0F1;
$white:         #FFFFFF;

@import '~quasar-variables-styl'
